
 .ad_date{
margin: 0;
padding: 0;
list-style: none;
position: relative;
font-size: 15px;
color: #686a6d;
line-height: 30px;
padding-left: 110px; 
 }   
 .tit{
list-style: none;
font-size: 15px;
line-height: 30px;
position: absolute;
top: 0;
left: 0;
width: 90px;
display: inline-block;
margin-right: 25px;
color: #4b4c50;  
 }
 .jp_calendar{
    list-style: none;
font-size: 15px;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
color: #85878c;
margin-right: 8px; 
 }
 .cont{
list-style: none;
font-size: 15px;
line-height: 30px;
display: block;
color: #4b4c50;
 }
 .day_text{
list-style: none;
font-size: 15px;
line-height: 30px;
color: #4b4c50;
margin-right: 8px;
 }
 .day{
list-style: none;
font-size: 15px;
line-height: 30px;
color: #ff9800;
 }
 .ad_job{
margin: 0;
padding: 0;
list-style: none;
position: relative;
font-size: 15px;
color: #686a6d;
line-height: 30px;
padding-left: 110px;
 }
 .jp-briefcase{
    list-style: none;
font-size: 15px;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
color: #85878c;
margin-right: 8px;
 }
 .ad_carr{
margin: 0;
padding: 0;
list-style: none;
position: relative;
font-size: 15px;
color: #686a6d;
line-height: 30px;
padding-left: 110px;
 }
 .jp-bar-chart{
    list-style: none;
font-size: 15px;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
color: #85878c;
margin-right: 8px; 
 }
 .ad_emp{
margin: 0;
padding: 0;
list-style: none;
position: relative;
font-size: 15px;
color: #686a6d;
line-height: 30px;
padding-left: 110px;   
 }
 .jp-check-circle{
    list-style: none;
font-size: 15px;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
color: #85878c;
margin-right: 8px;    
 }
 .ad_skill{
margin: 0;
padding: 0;
list-style: none;
position: relative;
font-size: 15px;
color: #686a6d;
line-height: 30px;
padding-left: 110px;   
 }
 .jp-server{
    list-style: none;
font-size: 15px;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
color: #85878c;
margin-right: 8px;  
 }
 .list{
    font-size: 13px;
color: #333;
margin: 0;
padding: 0;
margin-bottom: 50px;  
 }
 .text{
margin: 0;
padding: 0;
word-break: break-word;
font-size: 16px;
line-height: 26px;
color: #4b4c50;  
 }
 
